body{
    font-family: 'lucida sans' sans-serif;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
#main{
    background-color: #212121;
    border-radius: 6px;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 50px;
}
h1{
    margin: 0 auto;
    font-size: 2.4em;
    font-family: 'Roboto', sans-serif;
}
h4{
    padding-top: 0;
    margin: 8px auto 32px;
}

#img-div{
    background-color:white; 
    position: relative;
    color: black;
    text-align: center;
    width: 98%;
    margin: 0 auto;
}

h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
}

img{
    position: relative;
    padding: 8px 0px;
    width: 80%;
    margin: 0 auto;
}
#img-caption{
    margin: 0 auto;
    padding-bottom: 10px
}

#tribute-info{
    position: relative;
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

#tribute-link {
    font-size: 1.4em;
    padding-bottom: 20px;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

a{
    color: #0d7377
}